services:
  mariadb:
    build:  ./requirements/mariadb
    image: mariadb:moait-la
    container_name: mariadb
    restart: unless-stopped
    env_file: .env
    volumes:
      - mariadb_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "--silent"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 10s
    networks:
      - inception_net

  wordpress:
    build: ./requirements/wordpress
    image: wordpress:moait-la
    container_name: wordpress
    restart: unless-stopped
    env_file: .env
    healthcheck:
      test: ["CMD", "pgrep", "php-fpm8.2"]
      interval: 10s
      timeout: 5s
      retries: 10
      start_period: 5s
    volumes:
      - wordpress_data:/var/www/html
    depends_on:
      mariadb:
        condition: service_healthy
    networks:
      - inception_net

  nginx:
    image: nginx:moait-la
    container_name: nginx
    build: ./requirements/nginx
    restart: unless-stopped
    env_file: .env
    depends_on:
      wordpress:
        condition: service_healthy
    ports:
      - "443:443"
    networks:
      - inception_net
    volumes:
      - wordpress_data:/var/www/html

networks:
  inception_net:
    driver: bridge
  
volumes:
  mariadb_data:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/home/moait-la/data/mariadb'
  wordpress_data:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/home/moait-la/data/wordpress'